@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

table, td, tr{
    border: 2px solid rgb(182, 98, 24);
    border-collapse: collapse;
    padding: 5px 13px;
}

th{
    color:rgb(15, 15, 15);
}

tr{
    color:rgb(21, 21, 21);
}
.container {
    max-width: 80vw;
    margin: 23px auto;
    text-align: center;
}

h1, h2, h3 {
    margin: 23px 0;
    color: rgb(189, 121, 13);
    text-align: center;
}

p{
    color:rgb(27, 25, 25);
    text-align: center;
}

label{
    color: rgb(18, 17, 17);
}
.btn{
    padding: 8px 17px;
    background: black;
    color: rgb(229, 140, 39);
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 25px 0;
    cursor: pointer;
}

.btnsm{ 
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px; 
    cursor: pointer;
}

img{
    cursor: pointer;
    position: relative;
    bottom: 7px;
    width: 15px;
    height: 13px;
}

#alert{
    display: none;
}